<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Norberts Jasser-Auswertung</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="text-center">
        <h1>Norberts Jasser-Auswertung</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center"><input type="text" placeholder="Team1" class="form-control input-lg text-center" /></th>
                    <th class="text-center"></th>
                    <th class="text-center"><input type="text" placeholder="Team2" class="form-control input-lg text-center" /></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team1Category1" @change="signalChange" @focus="team1Category1 = ''" /></td>
                    <td class="text-center text-category">E</td>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team2Category1" @change="signalChange" @focus="team2Category1 = ''" /></td>
                </tr>
                <tr>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team1Category2" @change="signalChange" @focus="team1Category2 = ''" /></td>
                    <td class="text-center text-category">L</td>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team2Category2" @change="signalChange" @focus="team2Category2 = ''" /></td>
                </tr>
                <tr>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team1Category3" @change="signalChange" @focus="team1Category3 = ''" /></td>
                    <td class="text-center text-category">S</td>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team2Category3" @change="signalChange" @focus="team2Category3 = ''" /></td>
                </tr>
                <tr>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team1Category4" @change="signalChange" @focus="team1Category4 = ''" /></td>
                    <td class="text-center text-category">H</td>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team2Category4" @change="signalChange" @focus="team2Category4 = ''" /></td>
                </tr>
                <tr>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team1Category5" @change="signalChange" @focus="team1Category5 = ''" /></td>
                    <td class="text-center text-category">U</td>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team2Category5" @change="signalChange" @focus="team2Category5 = ''" /></td>
                </tr>
                <tr>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team1Category6" @change="signalChange" @focus="team1Category6 = ''" /></td>
                    <td class="text-center text-category">O</td>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team2Category6" @change="signalChange" @focus="team2Category6 = ''" /></td>
                </tr>
                <tr>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team1Category7" @change="signalChange" @focus="team1Category7 = ''" /></td>
                    <td class="text-center text-category">S</td>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team2Category7" @change="signalChange" @focus="team2Category7 = ''" /></td>
                </tr>
                <tr>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team1Category8" @change="signalChange" @focus="team1Category8 = ''" /></td>
                    <td class="text-center text-category">8</td>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team2Category8" @change="signalChange" @focus="team2Category8 = ''" /></td>
                </tr>
                <tr>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team1Category9" @change="signalChange" @focus="team1Category9 = ''" /></td>
                    <td class="text-center text-category">9</td>
                    <td class="text-center"><input type="number" class="form-control text-center" v-model="team2Category9" @change="signalChange" @focus="team2Category9 = ''" /></td>
                </tr>
                <tr>
                    <td class="text-center"><h1>{{ sum1 }}</h1></td>
                    <td class="text-center text-category">Summe</td>
                    <td class="text-center"><h1>{{ sum2 }}</h1></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                sum1: 0,
                sum2: 0,
                team1Category1: 0,
                team2Category1: 0,
                team1Category2: 0,
                team2Category2: 0,
                team1Category3: 0,
                team2Category3: 0,
                team1Category4: 0,
                team2Category4: 0,
                team1Category5: 0,
                team2Category5: 0,
                team1Category6: 0,
                team2Category6: 0,
                team1Category7: 0,
                team2Category7: 0,
                team1Category8: 0,
                team2Category8: 0,
                team1Category9: 0,
                team2Category9: 0,
            },
            methods: {
                signalChange: function (evt) {

                    if (parseInt(evt.target.value) > 157) {
                        evt.target.style.backgroundColor = '#ff6347';
                        return;
                    }
                    evt.target.style.backgroundColor = 'transparent';

                    var sum1 = 0;
                    sum1 += this.calculate(parseInt(this.team1Category1), 1);
                    sum1 += this.calculate(parseInt(this.team1Category2), 2);
                    sum1 += this.calculate(parseInt(this.team1Category3), 3);
                    sum1 += this.calculate(parseInt(this.team1Category4), 4);
                    sum1 += this.calculate(parseInt(this.team1Category5), 5);
                    sum1 += this.calculate(parseInt(this.team1Category6), 6);
                    sum1 += this.calculate(parseInt(this.team1Category7), 7);
                    sum1 += this.calculate(parseInt(this.team1Category8), 8);
                    sum1 += this.calculate(parseInt(this.team1Category9), 9);

                    this.sum1 = sum1;

                    var sum2 = 0;
                    sum2 += this.calculate(parseInt(this.team2Category1), 1);
                    sum2 += this.calculate(parseInt(this.team2Category2), 2);
                    sum2 += this.calculate(parseInt(this.team2Category3), 3);
                    sum2 += this.calculate(parseInt(this.team2Category4), 4);
                    sum2 += this.calculate(parseInt(this.team2Category5), 5);
                    sum2 += this.calculate(parseInt(this.team2Category6), 6);
                    sum2 += this.calculate(parseInt(this.team2Category7), 7);
                    sum2 += this.calculate(parseInt(this.team2Category8), 8);
                    sum2 += this.calculate(parseInt(this.team2Category9), 9);

                    this.sum2 = sum2;
                    return;
                },
                calculate(value, multiplier) {
                    if (value > 157) {
                        value = 0;
                    }
                    if (value === 157) {
                        value = value * 2;
                    }
   
                    return value * multiplier;
                }
            }
        })

    </script>
    <style>
        .text-category{
            font-size:2em;
        }
    </style>
</body>
</html>